{% extends 'store/layout/main.html' %}
{% block content %}
  <div class="all product-detail">
    <div class="product-image">
      <img src="{{ product.products_image.url }}" alt="{{ product.product_title }}" style="width:300px; height:auto;" />
    </div>
    <div class="product-meta">
      <h1>{{ product.product_title }}</h1>
      <p>
        <strong>Price:</strong>
        <del class="regular-price">
          <span>${{ product.regular_price }}</span>
        </del>&nbsp;&nbsp;${{ product.sale_price }}
        <br>
        <strong>Tag:</strong> {{ product.tag }}
      </p>
      <p>
        <strong>Available:</strong>
        In Stock
      </p>

      <label for="quantity" style="font-weight: bold; font-size: large;">Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.quantity }}" required />
      <br>
      <a href="{% url 'checkout' product_title=product.product_title %}" class="buy-now">BUY NOW</a>

    </div>
  </div>
  <div class="product-detail">
    <p>
      <strong>Description:</strong> <br /> {{ product.description }}
    </p>
  </div>
{% endblock %}
