{% extends 'store/layout/main.html' %}
{% block title %}
  About
{% endblock %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <div class="about">
    <h1>ABOUT US</h1>
  </div>
  <div class="about-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at ullam voluptate voluptates 
        recusandae, aperiam deleniti et officia, aut, quam accusamus sed laudantium non fugiat minima natus 
        provident vitae voluptatum?
    </p>
  </div>
{% endblock %}
