{% extends 'store/layout/main.html' %}
{% block title %}
Home
{% endblock title%}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <!-- Banner Section -->
  <div class="banner">
    <img src="{% static 'images/banner.png' %}" alt="banner" />
  </div>

  <!-- Category with Image Section -->
  <h2 style="text-align: center; font-family: Poppins; padding-top: 30px;">Products Category</h2>

  <div class="category_image_banner">
    <div class="category" style="cursor: pointer;">
      <img src="{% static 'images/category-1.jpg' %}" alt="Adidas" onclick="window.location.href='{% url "shop" %}'" />
      <h3>Adidas</h3>
    </div>

    <div class="category" style="cursor: pointer;">
      <img src="{% static 'images/category-2.jpg' %}" alt="Puma" onclick="window.location.href='{% url "shop" %}'"/>
      <h3>Puma</h3>
    </div>
  </div>

  <!-- Dynamic Product Section -->
   <div class="products-header">
    <h1>Our Products</h1>
   </div>
  

  <div class="product-container">
    {% for product in products %}
    <div class="product-card">
      <a href="{% url 'productview' product_title=product.product_title %}">
        <img src="{{ product.products_image.url }}" alt="{{ product.product_title }}" class="product-image" />
        <h2 class="product-name">{{ product.product_title }}</h2>
        <p class="product-price">${{ product.sale_price }}</p>
      </a>
      <a href="{% url 'checkout' product_title=product.product_title %}" class="buy-now">BUY NOW</a>
    </div>
  {% endfor %}
  </div>
  <div class="products-header">
    <h1>SEASONAL COLLECTIONS</h1>
   </div>
<section class="collections-banner">
    <div class="banner-box" style="background-image: url('static/images/image1.jpg')" onclick="window.location.href='{% url "shop" %}'">
        <h2>WINTER COLLECTIONS</h2>
    </div>

    <div class="banner-box" style="background-image: url('static/images/image2.jpg')" onclick="window.location.href='{% url "shop" %}'">
        <h2>SPRING COLLECTIONS</h2>
    </div>

    <div class="banner-box" style="background-image: url('static/images/image3.jpg')" onclick="window.location.href='{% url "shop" %}'">
        <h2>ANY SEASON</h2>
    </div>
</section>


{% endblock %}
